In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
Final = pd.read_csv("Final_Dataset.csv")
print(Final.shape)

(68609, 9)

In [7]:
print("Final:", Final.shape)

Final: (68609, 9)

In [14]:
Final.sample(5)

,User_ID,Age,Gender,Country,Book_ID,Rating,Title,Author,Genres
44290,44522702,28,Unknown,India,11590099,5,টেনিদা সমগ্র,Narayan Gangopadhyay,"Comedy, Humor, Fiction"
27408,89359390,30,Male,Unknown,51818561,5,পদ্মানদীর মাঝি,Manik Bandopadhyay,"Fiction, Classics, Novels"
8858,93892585,28,Male,Unknown,15996871,4,সংশপ্তক,Shahidullah Kaiser,"Fiction, Classics, Novels"
22820,3296536,39,Male,India,10416071,4,বিশ্বাসঘাতক,Narayan Sanyal,"Nonfiction, Thriller, History"
8909,96279585,24,Unknown,Unknown,17370925,4,মাধুকরী,Buddhadeb Guha,"Romance, Fiction, Unfinished"

In [13]:
Final.isnull().sum()

User_ID    0
Age        0
Gender     0
Country    0
Book_ID    0
Rating     0
Title      0
Author     0
Genres     0
dtype: int64

In [12]:
Final['Gender'] = Final['Gender'].fillna('Unknown') 
Final['Country'] = Final['Country'].fillna('Unknown')
Final = Final.dropna(subset=['Title','Author'])
Final['Genres'] = Final['Genres'].fillna('Unknown')
Final['Age'] = Final['Age'].apply(lambda x: x if x > 0 else 0)
Final['Age'] = Final['Age'].fillna(Final['Age'].median())
Final['Age'] = Final['Age'].astype(int)
Final = Final.drop_duplicates()

In [ ]:
Final.to_csv('Final_Dataset.csv', index=False, encoding='utf-8')